@model DoseBookAdmin.ViewModels.Document.Document
@{
    ViewData["Title"] = "Edit Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="EditformDocument" name="EditformDocument">
    <div class="tab_menu">
        <div class="center_wrap">
            <button type="button" class="back_btn" onClick="window.location.href='@Url.Action("Index","Document")'">Back</button>
            <ul class="tab_list">
                <li class="current"><a href="#tab_1">Document Details</a></li>
            </ul>
            <button type="button" id="Edit_Document_Btn" class="btn_field tab_save">Save</button>
        </div>
    </div>
    <!--End tab_menu-->

    <div class="full_width">
        <div class="center_wrap">
            <div class="content_wrap">
                <div class="page_heading">
                    <h1>Edit Document</h1>
                </div>
                <!--End page_heading-->

                <div class="form_wrap">
                    <div class="tab_content" id="tab_1">
                        <div class="form_fields_box">
                            <fieldset>
                                <div class="form_field">
                                    <label for="User_ID">Document Id</label>
                                    <input asp-for="DocumentId" type="text" disabled>
                                    <input asp-for="DocumentId" type="hidden">
                                </div>
                                <div class="form_field">
                                    <label for="Document_Alldoctors">Doctor *<small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select which department this Vacancy item belongs to.">Tooltip</small></label>
                                    <div class="select_div">
                                        <select asp-for="DoctorId"
                                                asp-items="@(new SelectList(Model.AllDoctors,"DoctorId", "DoctorName"))"></select>
                                        <input type="hidden" asp-for="DoctorId" />
                                    </div>
                                    <span class="error_label" asp-validation-for="DoctorId"></span>
                                </div>
                                <div class="form_field">
                                    <label for="Document_Alldoctors">ClassificationResult *<small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select which department this Vacancy item belongs to.">Tooltip</small></label>
                                    <div class="select_div">
                                        <select asp-for="ClassificationResultId"
                                                asp-items="@(new SelectList(Model.AllClassificationResult,"ClassificationResultId", "ClassificationResultName"))"></select>
                                        <input type="hidden" asp-for="ClassificationResultId" />
                                    </div>
                                    <span class="error_label" asp-validation-for="ClassificationResultId"></span>
                                </div>
                                <div class="form_field">
                                    <label for="User_FirstName">
                                        Label*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Department Name.">Tooltip</small>
                                    </label>
                                    <input asp-for="Label" type="text">
                                    <span class="error_label" asp-validation-for="Label"></span>
                                </div>
                                <div class="form_field">
                                    <label for="User_FirstName">
                                        Description*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Department Name.">Tooltip</small>
                                    </label>
                                    <input asp-for="Description" type="text">
                                    <span class="error_label" asp-validation-for="Description"></span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/Document/document.editDocument.js" asp-append-version="true"></script>

@section DocumentReady{
    var currentTab = location.hash
    if (currentTab) {
    $(".tab_list li").removeClass("current");
    $(".tab_list li>a[href=" + currentTab + "]").closest("li").addClass("current");
    $(".tab_content").hide();
    $(currentTab).show();
    $(currentTab + "_btn").show()
    }

    //Select Current Menu
    $('.nav-li').removeClass('current');
    $('#menuItemFAQs').addClass('current');
}