@model DoseBookAdmin.ViewModels.Document.DocumentListGridItemVM
@{
    ViewData["Title"] = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top_filter_bar">
    <div class="center_wrap">

        <div class="top_filter_left">
            <button type="button" id="btnAddDocument" class="add_new_list_item">Add new</button>
            <button type="button" id="btnDeleteSelected" disabled="disabled" class="delete_list_item">delete</button>
        </div>

        <div class="top_filter_right">

            <div class="drop_menu">
                <ul>
                    <li>
                        <a href="#">Filter by Doctors...</a>
                        <ul class="drop_menu_sub">
                            @foreach (var doctor in Model.AllDoctors)
                            {
                                <li><a class="doctorClick" href="#" id="@doctor.DoctorId">@doctor.DoctorName</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="form_group">
                <fieldset>
                    <input type="text" id="txtSearcDocumentUp" disabled="disabled" class="form-control" placeholder="Search">
                    <input type="submit" disabled id="btnSearch" class="search_btn" value="go" />
                    <input type="hidden" id="hdnDoctorId" />
                    <input type="hidden" id="hdnDoctorName" />
                    <input type="hidden" id="hdnDoctor_Back" />
                </fieldset>
            </div>
        </div>

    </div>
</div>
<!--End top_filter_bar-->


<div class="full_width">
    <div class="center_wrap">
        <div id="partialDocument" style="display:none;" class="content_wrap"></div>
    </div>
</div>
<script src="~/js/Document/document.index.js" asp-append-version="true"></script>
@*<script src="~/js/common.js"></script>*@