
@model PickfordsIntranet.ViewModels.Auth.ResetPasswordForEmailTemplateVM
<h4>Hello @Model.FullName</h4>
<p>You can reset your password at @Model.ResetPasswordLink</p>
<br />



Thanks,<br />
<b>Pickfords Admin</b>
