
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="grid_10 omega" style="width:550px;text-align:justify;">
    <!--Detail Content panel START-->
    <h2>Contact Us</h2>
    <h2 style="height:10px;"></h2>
    <span style="text-align:justify;"><b>B.M. Project Engineers Private Limited (BMPEPL)</b></span><br /><br />
    <span>A-346, South City - I</span><br /><br />
    <span>Gurgaon, Haryana - 122001</span><br /><br />
    <span>Phone No - 91 124 40263612</span><br /><br />
    <span><b>www.bmprojects.co.in</b></span><br /><br />
    <span>Email : business@qlickreport.com</span><br /><br />

    <!--Detail Content panel END-->
</div>

