@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="grid_10 omega" style="text-align: justify;">
    <h2>Know about Us</h2>
    <p class="vero">Provide at-a-glance insight about your organization’s performance for your end users.</p>
    <p class="sedTxt">
        QlickReport is powerful role-based web application which gives dashboard view of key business data. It is an evolving business intelligence MIS & reporting software provides easy and enhanced MIS reporting, data analysis and customized email-alerts.
        <br>
    <p style="height: 5px;"></p>
    <span style="width: 60px;">
        An integrated powerful graphical reporting tool has made charting easy. Users can schedule business<br />
        alerts that inform the right people of critical occurrences when time is of the essence.
    </span>
    @*<%--<a href="Content/PDF/CP_Qlickreport.pdf" class="moreaTwo1" target="_blank" title="Corporate Presentation">Corporate Presentation</a>--%>*@
    <span style="height: 15px;">
        <p style="height: 20px;"></p>
    </span>

    <div class="grid_5 alpha ">
        <h2>Our Qlick Products </h2>
        <p class="loremtxt">Create Report with ease and convenience with any of the following tools with different abilities and features and export your data to excel.</p>
        <a href="Content/QlickQueryBuilder.aspx">
            <p class="manyTwo"><strong><u>Qlick Query Builder</u></strong> - helps any user to create, share, save as, save queries from multiple tables and views. </p>
        </a>
        <a href="Content/QlickReportDesigner.aspx">
            <p class="manyTwo"><strong><u>Qlick Report Designer</u></strong> - Header and Footer, Data in specified format, Functions by SQL statement, Summarized output in grouping.</p>
        </a>
        <a href="Content/QlickDataAnalysis.aspx">
            <p class="manyTwo"><strong><u>Qlick Data Analysis</u></strong> - Is able to do various analysis on data tables and views. User is able to save & share the analysis.</p>
        </a>
        <a href="Content/QlickGraph.aspx">
            <p class="manyTwo"><strong><u>Qlick Graph</u></strong> - The graph of data is based on specification given by creator at the time of creating/edit report/query/analysis etc.</p>
        </a>

    </div>
    <div class="grid_5 omega">
        <div class="company">
            <h2>Other Qlick Features</h2>
            <p class="loremtxt">Available with single or multiple user licence with User, Hierarchy and Rights management with multiple Admin & SuperAdmin</p>
            <a href="">
                <p class="manyTwo" style="width: 220px;">
                    <strong><u>Qlick Database</u></strong>
                    <br>
                    - Single (MSSQL, MySql & Oracle)<br>
                    - Multiple (Two or More)
                </p>
            </a>
            <a href="">
                <p class="manyTwo" style="width: 220px;">
                    <strong><u>Qlick Data Transfer</u></strong>
                    <br>
                    - Import<br>
                    - Real Time
                </p>
            </a>
            <a href="">
                <p class="manyTwo" style="width: 220px;">
                    <strong><u>Qlick Email Scheduler</u></strong>
                    <br>
                    - Event Based<br>
                    - Condition Based
                </p>
            </a>
            <a href="">
                <p class="manyTwo" style="width: 220px;">
                    <strong><u>Qlick Sharing</u></strong>
                    <br>
                    - Local<br>
                    - Non Local
                </p>
            </a>
            @*a href="#" title="more" class="manyMore">more...</a*@

        </div>
    </div>
    <div class="clear"></div>
    <div class="block">
        <p class="baner">Technical support<span>Our tech experts will provide you best technical support </span></p>
        <a href="Content/QlickSupport.aspx" title="Details" class="details">Details</a>
    </div>
</div>
