
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="grid_10 omega">
    <h2>Know About Qlick Products</h2>
    <p class="sedTxtlink"><a href="PDF/CP_Qlickreport.pdf" target="_blank" style="color:#0000CC;">Corporate Presentation</a></p>
    <p class="sedTxt">IDMS is powerful role-based web application which gives dashboard view of key business data. It is an evolving business intelligence MIS & reporting software provides easy and enhanced MIS reporting, data analysis and customized email-alerts. <br>
    <p height="5"></p>
    <span>An integrated powerful graphical reporting tool has made charting easy. Users can schedule business alerts that inform the right people of critical occurrences when time is of the essence.</span></p>
    <div class="grid_5 alpha ">
        <h2>Our Qlick Products </h2>
        <p class="loremtxt" style="width:550px; text-align:justify;">Create Report with ease and convenience with any of the following tools with different abilities and features and export your data to excel.</p>
        <a href="QlickQueryBuilder.aspx"><p class="manyTwo" style="width:520px;"><strong><u>Qlick Query Builder</u></strong> - helps any user to create, share, save as, save queries from multiple tables and views. </p></a>
        <a href="QlickReportDesigner.aspx"><p class="manyTwo" style="width:520px;"><strong><u>Qlick Report Designer</u></strong> - Header and Footer, Data in specified format, Functions by SQL statement, Summarized output in grouping.</p></a>
        <a href="QlickDataAnalysis.aspx"><p class="manyTwo" style="width:520px;"><strong><u>Qlick Data Analysis</u></strong> - Is able to do various analysis on data tables and views. User is able to save & share the analysis.</p></a>
        <a href="QlickGraph.aspx"><p class="manyTwo" style="width:520px;"><strong><u>Qlick Graph</u></strong> - The graph of data is based on specification given by creator at the time of creating/edit report/query/analysis etc.</p></a>
        <h2>Other Qlick Features</h2>
        <p class="loremtxt" style="width:540px; text-align:justify;">Available with single or multiple user licence with User, Hierarchy and Rights management with multiple Admin & SuperAdmin</p>
        <a href=""><p class="manyTwo" style="width:520px;"><strong><u>Qlick Database</u></strong> <br>- Single (MSSQL, MySql & Oracle)<br>- Multiple (Two or More)</p></a>
        <a href=""><p class="manyTwo" style="width:520px;"><strong><u>Qlick Data Transfer</u></strong> <br>- Import<br>- Real Time</p></a>
        <a href=""><p class="manyTwo" style="width:520px;"><strong><u>Qlick Email Scheduler</u></strong> <br>- Event Based<br>- Condition Based</p></a>
        <a href=""><p class="manyTwo" style="width:520px;"><strong><u>Qlick Sharing</u></strong> <br>- Local<br>- Non Local</p></a>
         @*a href="#" title="more" class="manyMore">more...</a>*@
    </div>
</div>

