@model DoseBookAdmin.ViewModels.DoseData.DoseData
@{
    ViewData["Title"] = "Add DoseData";
}

@* enctype="multipart/form-data" asp-controller="News" asp-action="Add"
    data-ajax-begin="onBegin" data-ajax-complete="onComplete"
    data-ajax-failure="onFailed" data-ajax-success="onSuccess"
    data-ajax="true" data-ajax-method="POST" *@
<form id="formDoseData" name="formDoseData">
    <div class="tab_menu">
        <div class="center_wrap">

            <button type="button" id="btnBack" class="back_btn">Back</button>

            <ul class="tab_list" id="tabUL">
                <li class="current"><a href="#tab_1">Dose Data</a></li>

            </ul>

            <button type="button" id="btnSave" class="tab_save">Save</button>

            @*<button type="button" class="delete_btn">delete</button>*@

        </div>
    </div>
    <!--End tab_menu-->

    <div class="full_width">
        <div class="center_wrap">

            <div class="content_wrap">

                <div class="page_heading">
                    <h1>Add Dose Data</h1>
                </div>
                <!--End page_heading-->

                <div class="form_wrap">

                    <div class="tab_content" id="tab_1">

                        <div class="form_fields_box">
                            <fieldset>
                                <div class="form_field">
                                    <label for="vacancyid">DoseData Id* </label>
                                    <input type="text" disabled>
                                </div>
                                <div class="form_field">
                                    <label for="DoseData_Title">
                                        Title* <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) The title of the Vacancies item.">Tooltip</small>
                                    </label>
                                    @*<input id="NewsTitle" type="text">*@
                                    <input asp-for="Title" type="text">
                                    <span class="error_label" asp-validation-for="Title"></span>
                                </div>

                                <div class="form_field">
                                    <label for="DoseData_DoseMetaType">DoseMetaType* <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select which department this Vacancy item belongs to.">Tooltip</small></label>
                                    <div class="select_div">
                                        <select asp-for="DoseMetaTypeId"
                                                asp-items="@(new SelectList(Model.AllDoseMetaTypes,"Id", "Type"))"></select>
                                        <input type="hidden" asp-for="DoseMetaTypeId" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--End form_fields_box-->
                    </div>
                </div>
                <!--End forom_wrap-->
            </div>
            <!--End content_wrap-->
        </div>
        <!--End center_wrap-->
    </div>

</form>
<script src="~/js/DoseData/doseData.addDoseData.js" asp-append-version="true"></script>
@*<script src="~/js/common.js"></script>*@