<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <!-- Server Configuration is as following -->  
  <system.serviceModel>  
    <services>  
      <service name="WebServices_Service.WebService">  
        <!-- baseAddress and the Interface of the Service is added.  -->  
        <endpoint  
                address="http://localhost:50000/My_WebService"   
                binding="wsHttpBinding"   
                contract="WebServices_Interfaces.ISaveData" />  
      </service>  
    </services>  
  </system.serviceModel>  
</configuration>