@model PickfordsIntranet.ViewModels.FrontEnd.FrontEndVM;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}


<div class="full_width">
    <div class="container">
        <div class="all_case_box">
            <h2>You have successfully cancelled your leave request </h2>
            <p>Thank you for submitting your request for leave.</p>
            <p>Your line manager will now review your request and if necessary contact you to confirm or amend the dates. </p>
            <p>You will receive confirmation by email once your requested leave has been approved, or on occasion declined.</p>
        </div>
    </div>
</div>
<script src="~/FrontEnd/js/FrontEndHome/frontendhome.index.js" asp-append-version="true"></script>
<script src="~/FrontEnd/js/jquery.scrollbar.js" asp-append-version="true"></script>
