@model PickfordsIntranet.ViewModels.FrontEnd.FrontEndVM;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}


<div class="full_width">
    <div class="container">
        <div class="all_case_box">
            <h2>What happens next?</h2>
            <p>Thank you for submitting your request for leave.</p>
            <p>Your line manager has been notified to review your request and If necessary will contact you to confirm or amend the dates</p>
            <p>You will receive confirmation by email when your request has been approved or if it is declined.</p>  
        </div>
    </div>
</div>
<script src="~/FrontEnd/js/FrontEndHome/frontendhome.index.js" asp-append-version="true"></script>
<script src="~/FrontEnd/js/jquery.scrollbar.js" asp-append-version="true"></script>
