<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Payment Setting</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-item>
      <ion-label>Payment Frequency</ion-label>
      <ion-select slot="end" interface="popover" value="weekly">
        <ion-select-option value="weekly">Weekly</ion-select-option>
        <ion-select-option value="monthly">Monthly</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label>Current Bank Account</ion-label>
      <ion-button slot="end">Add New Account</ion-button>
    </ion-item>
    
    <ion-row>
      <ion-col>***** 1507</ion-col>
      <ion-col>Infoxen Technologies</ion-col>
      <ion-col>ICICI0093</ion-col>
      <ion-col>Verified</ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
